@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

*{
    font-family:'Open Sans', sans-serif;
}

h1, h2, h3, .montserrat {
    font-family: 'Montserrat', sans-serif;
}

/*---------------Table Style--------------*/
.table-container {
  width:100%;
    min-width: 30vw;
    margin-bottom: 100px;
    overflow-x: auto;
    margin-right: 256px;
    padding-top: 0.5;
    align-content: center;
    
  }

.event {
    padding: 5px;
    color: white;
    border-radius: 4px;
    text-align: center;
  }

  .details{
    font-size: 10px;
    line-height: 150%;
    max-width: 90%;
    text-align: center;
  }